.card-dashboard-product {
  margin-bottom: 15px;

  .card-body {
    .product-title {
      font-weight: normal;
      font-size: 25px;
      color: #3a3845;
    }

    .product-category {
      font-weight: normal;
      font-size: 16px;
      color: silver;
    }
  }
}
